/* static/css/style.css */
h1 {
    color: darkblue;
    font-size: 36px;
}

.flash-message {
    background-color: yellow;
    color: black;
    padding: 10px;
    border-radius: 4px;
    opacity: 0;
    animation: fadeinout 1.25s ease forwards;
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}